* {
  padding: 0%;
  margin: 0%;
}

.bg {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.card-shadow {
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);
  /* background-color: #0077CC; */
  /* border: 1px solid #0077cc; */
  background-image: linear-gradient(to bottom, #004b80, #000f19);
}

.hero-box {
  background-image: url(../assets/world.svg);
  background-position: top;
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* background-clip: content-box; */
}

.hero-box2 {
  /* background-image: url(../assets/blocks.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-clip: content-box; */
  /* padding-top: 100px; */
}

.line::after {
  content: " ";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #fff;
  margin-left: 6px;
  margin-top: 17px;
  /* bottom: 0; */
}

.morphism {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.19);
}
